<h1>사진관리</h1>

<div class="action_container">
  <%= link_to '사진등록', new_admin_photo_path %>
</div>

<table class="photos">
  <thead>
    <tr>
      <th class="photo">사진</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class="photo"><%= image_tag photo.image_raw.url(:thumb, false) %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_admin_photo_path(photo) %>
          <%= link_to 'Destroy', [:admin, photo], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

