<h2>레이싱 모델</h2>

<ul class="guide">
  <li>레이싱 모델의 정보를 관리합니다.</li>
  <li>모바일 앱에서 모델의 상세정보로 보여집니다.</li>
</ul>

<div class="action_container">
  <%= link_to '모델 등록하기', new_admin_racing_model_path %>
</div>

<table class="racing_models">
  <thead>
    <tr>
      <th class="photo">사진</th>
      <th class="company">소속업체(부스)</th>
      <th class="name">이름</th>
      <th class="birth">생일</th>
      <th class="height">키</td>
      <th class="weight">체중</td>
      <th class="flickr_url">Flickr URL</td>
      <th class="photos">연관된 사진</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @racing_models.each do |racing_model| %>
      <%= render 'admin/racing_models/tr_racing_model', :racing_model => racing_model %>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@racing_models) %>
